{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/cart/place_order_success.css' %}">
    <div class="order-success-container">
        <div class="order-confirmation">
            <h2>Order Confirmation</h2>
            <p>Thank you for your order! Your order has been successfully placed.</p>
            <p>Your order is being processed, and we will notify you when it's ready for pickup.</p>
            <p>If you have any questions or need assistance, please contact our customer support at
                <a href="mailto:anchisbakery02@gmail.com">anchisbakery02@gmail.com</a>.</p>
        </div>
    </div>
{% endblock %}
