{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" href="{% static 'css/cart/place-order.css' %}">
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.pickup_time.id_for_label }}">Time to pickup:</label>
        {{ form.pickup_time }}
        {% if form.pickup_time.errors %}
            <ul class="errorlist">
                {% for error in form.pickup_time.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>Total price: {{ total_price }} €</p>
        <button type="submit">Place Order</button>
    </form>
{% endblock %}
