.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 75vh;
    overflow: auto;
}

.product-card {
    width: 250px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 300px;
}

.product-image {
    width: 100%;
    padding-top: 80%;
    position: relative;
}

.product-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}

.product-info h3 {
    padding-bottom: 10px;
}

.product-info h3 a {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    text-decoration: none;
}

.order-quantity {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border-radius: 10px;
}

.order-button {
    width: 70%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
}