{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/products/product_detail.css' %}">
    <div class="product-card">
        <div class="product-image">
            <img src="{{ product.picture_url }}" alt="{{ product.name }}">
        </div>
        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p>Price: {{ product.price }}</p>
            <p>Order: {{ product.order }}</p>
            <p>Description: {{ product.description }}</p>
        </div>
    </div>

{% endblock %}