{% extends 'base.html' %}
{% load static %}

{% block page_content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
  <div class="about-container">
    <h2>About Us</h2>
    <p>Welcome to our bakery! We take pride in offering the freshest and most delicious baked goods to our customers.</p>
    <p>Our team of skilled bakers uses only the finest ingredients to create a wide variety of mouthwatering treats, including bread, pastries, cakes, and more.</p>
    <p>Whether you're stopping by for your daily loaf of bread or celebrating a special occasion with one of our custom-made cakes, we are here to satisfy your cravings and make every moment memorable.</p>
    <p>At our bakery, quality and taste are our top priorities. We are dedicated to providing exceptional customer service and ensuring that you leave with a smile on your face and a bag full of scrumptious treats.</p>
    <p>Thank you for choosing our bakery, and we look forward to serving you soon!</p>
    <p>If you have any questions or need assistance, feel free to contact our customer support team at <a href="mailto:anchisbakery02@gmail.com">anchisbakery02@gmail.com</a>.</p>
  </div>
{% endblock %}
