{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anchi's Bakery</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="{% url 'products_list' %}">Products</a></li>
            {% if not request.user.is_authenticated %}
                <li><a href="#">About</a></li>
                <li><a href="{% url 'login_user' %}">Login</a></li>
                <li><a href="{% url 'user_register' %}">Register</a></li>
            {% else %}
                 {% if request.user.is_staff %}
                      <li><a href="{% url 'show_orders' %}">Show Orders</a></li>
                      <li><a href="{% url 'logout_user' %}">Logout</a></li>
                 {% else %}
                    <li><a href="{% url 'logout_user' %}">Logout</a></li>
                    <li><a href="{% url 'profile_detail' request.user.pk %}">Profile</a></li>
                    <li><a href="{% url 'profile_update' request.user.pk %}">Profile Update</a></li>
                    <li><a href="{% url 'user_delete' user.pk %}">Delete User</a></li>
                    <li><a href="{% url 'cart_page' %}">Cart</a></li>
                 {% endif %}
            {% endif %}
        </ul>
    </nav>

    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>

    <footer>
        &copy; 2023 Anchi's Bakery. All rights reserved.
    </footer>
</body>
</html>