{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">


    {#    <div class="text-container">#}
    {#        <p class="greeting-text">#}
    {#            Welcome to my bakery! I make all the products with a lot of love and I deeply hope you will enjoy them!#}
    {#        </p>#}
    {#    </div>#}
    <div class="links-container">
        <div class="category-container">
            <div class="bakes-links">
                <a href="{% url 'category_products' 'salty' %}">Salty Bakes</a>
                <a href="{% url 'category_products' 'sweet' %}">Sweet Bakes</a>
            </div>
            <div class="drinks-link">
                <a href="{% url 'category_products' 'drinks' %}">Drinks</a>
            </div>
        </div>
    </div>



{% endblock %}