{% extends 'base.html' %}
{% block page_content %}
    <ul>Received Orders:
        {% for order in orders %}
            {% if order.status == 'Received' %}
                <li>Order No {{ order.id }},
                Order products: {{ order.products }},
                Total price: {{ order.total_price }},
                Pickup time: {{ order.pickup_time|time }},
                Status: {{ order.status }}
                <a href=" {% url 'update_order' order.pk %}  ">Work on it</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <ul>Orders in Progress:
    {% for order in orders %}
        {% if order.status == 'Working on it' %}
            <li>Order No {{ order.id }},
            Order products: {{ order.products }},
            Total price: {{ order.total_price }},
            Pickup time: {{ order.pickup_time|time }},
            Status: {{ order.status }}
            <a href=" {% url 'update_order' order.pk %}  ">Prepared</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    <ul> Ready orders:
    {% for order in orders %}
        {% if order.status == 'Ready to pickup' %}
            <li>Order No {{ order.id }},
            Order products: {{ order.products }},
            Total price: {{ order.total_price }},
            Pickup time: {{ order.pickup_time|time }},
            Status: {{ order.status }}
            <a href=" {% url 'update_order' order.pk %}  ">Finish order</a>
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}