{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/order/staff_order.css' %}">
    <div class="order-list">
        <ul class="received-orders">
            <h3>Received orders:</h3>
            {% for order in received_orders %}
                <li class="order-item">
                    <div>
                        <p>Order No {{ order.id }}</p>
                        <p>Order products: {{ order.products }}</p>
                        <p>Total price: {{ order.total_price|floatformat:2 }} €</p>
                        <p>Pickup time: {{ order.pickup_time|time }}</p>
                        <p>Status: {{ order.status }}</p>
                    </div>
                    <a href="{% url 'update_order' order.pk %}">Work on it</a>
                </li>
            {% empty %}
                <li class="order-item">No products in this category</li>
            {% endfor %}
        </ul>
        <ul class="in-progress-orders">
            <h3>Orders in progress</h3>
            {% for order in working_on_it_orders %}
                <li class="order-item">
                    <div>
                        <p>Order No {{ order.id }}</p>
                        <p>Order products: {{ order.products }}</p>
                        <p>Total price: {{ order.total_price|floatformat:2 }} €</p>
                        <p>Pickup time: {{ order.pickup_time|time }}</p>
                        <p>Status: {{ order.status }}</p>
                    </div>
                    <a href="{% url 'update_order' order.pk %}">Prepared</a>
                </li>
            {% empty %}
                <li class="order-item">No products in this category</li>
            {% endfor %}
        </ul>
        <ul class="ready-orders">
            <h3>Ready orders:</h3>
            {% for order in ready_orders %}
                <li class="order-item">
                    <div>
                        <p>Order No {{ order.id }}</p>
                        <p>Order products: {{ order.products }}</p>
                        <p>Total price: {{ order.total_price|floatformat:2  }} €</p>
                        <p>Pickup time: {{ order.pickup_time|time }}</p>
                        <p>Status: {{ order.status }}</p>
                    </div>
                    <a href="{% url 'update_order' order.pk %}">Finish order</a>
                </li>
            {% empty %}
                <li class="order-item">No products in this category</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
