{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile/delete-user.css' %}">

    <div class="delete-user-form">
        <h2>Confirm User Deletion</h2>
        {% if object.profile.first_name and object.profile.last_name %}
            <p>Are you sure you want to delete the user {{ object.profile.first_name }} {{ object.profile.last_name }}?</p>
        {% else %}
            <p>Are you sure you want to delete the user {{ object.email }}?</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
                <input type="submit" value="Delete">
                <a href="{% url 'profile_detail' object.pk %}">Cancel</a>
        </form>
    </div>

{% endblock %}
